/*html & body*/

html,
body {
  background-color: transparent;
  padding-top: 30px;
  font-family: 'Ubuntu', sans-serif;
}

button {
  overflow: hidden;
}

/*header*/

.header-title {
  height: 560px;
  background-color: rgba(38, 46, 66, 0.25);
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  padding: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.r1 {
  font-size: 2.5em;
  margin: 0px 20px;
  /*  font-family: 'Questrial', sans-serif;*/
  font-family: 'Fredoka One', cursive;
  text-align: left;
  color: #fcb321;
}

.r2 {
  font-size: 7em;
  color: white;
}

#usaflag {
  position: relative;
  top: -50px;
  left: 15%;
  border-radius: 50%;
  height: 200px;
  width: auto;
}

#ukflag {
  position: relative;
  top: -250px;
  left: 30%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#logop {
  position: relative;
  top: -780px;
  left: 280px;
  height: 250px;
  width: auto;
}

#matricula {
  text-align: center;
  position: relative;
  top: -700px;
  left: 65%;
  font-size: 2.5em;
  width: 280px;
  color: #1B2845;
  border-radius: 15%;
  border-style: dashed;
  transform: rotate(15deg);
  background-color: #C4C9C4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: matric;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes matric {
  0% {
    transform: rotate(15deg);
    font-size: 2.5em;
    border-color: yellow;
  }

  25% {
    transform: border-color: red;
  }

  50% {
    transform: border-color: yellow;
  }

  75% {
    transform: border-color: red;
  }

  90% {
    transform: rotate(15deg);
    font-size: 2.5em;
  }

  92% {
    transform: rotate(10deg);
    font-size: 3em;
  }

  95% {
    transform: rotate(15deg);
    font-size: 2.5em;
  }

  97% {
    transform: rotate(10deg);
    font-size: 3em;
  }

  100% {
    transform: rotate(15deg);
    font-size: 2.5em;
  }
}

/*BODY*/

a {
  color: #5d92ff;
}

a:hover {
  color: #5de3ff;
}

/*Id's body*/

#imgtable {
  margin-left: 10%;
  margin-right: 10%;
}

main {
  /*  background-color: #262E42;*/
  background-color: black;
}

/*classes body*/

.display-4 {
  padding-top: 55px;
  margin-left: 18%;
  color: #99A98C;
}

.cabeza-2 {
  color: #99A98C;
  margin-left: 18%;
  margin-right: 18%;
  padding-top: 2%;
}

.imgtablecol {
  background-color: #262E42;
}

.lead {
  margin-top: 1%;
  margin-right: 18%;
  margin-left: 18%;
  margin-bottom: 0;
  color: #E0DECE;
  font-size: 1.2rem;
  padding-bottom: 1%;
}

.main {
  margin-top: 1%;
  margin-right: 18%;
  margin-left: 18%;
  margin-bottom: 2%;
  color: #E0DECE;
}

.modal-body {
  overflow: hidden;
  margin: auto;
}

/*Google Maps*/

#map {
  height: 40vh;
  width: 100%;
}

/*iframe*/

iframe {
  border: 0;
  width: 560px;
  height: 315px;
}

/*images*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.imgtableimg {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 80%;
}

.piep {
  text-align: right;
  color: #99A98C;
  font-size: 13px;
  margin-bottom: 0px;
}

/*boardsImg*/

#boardsImg {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.125rem 10%;
}

#boardsImg img {
  /*  width: 300px;*/
  height: 150px;
  padding: 1rem;
}

/*teacherImg*/

#teacherImg {
  display: inline-flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  margin: 1.125rem 10%;
}

#teachTextEng {
  color: #fcb321;
}

/*Apple*/

#apple {
  width: 307px;
}

#exams {
  text-align: center;
}

/*media*/

@media only screen and (max-width: 1200px) {
  #usaflag {
    top: -50px;
    left: 150px;
    border-radius: 50%;
    height: 150px;
    width: auto;
  }

  #ukflag {
    top: -200px;
    left: 250px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  #logop {
    top: -680px;
    left: 190px;
    height: auto;
    width: 250px;
  }

  .header-title {
    height: 520px;
  }
}

@media screen and (min-width: 1100px) {
  .modal-lg {
    width: 1050px;
    /* New width for large modal */
  }
}

@media (max-width: 979px) {
  body {
    background-color: transparent;
    padding-top: 30px;
  }

  #teacherImg {
    flex-wrap: wrap;
  }

  #teachTextEng {
    margin-left: 18%;
    margin-right: 18%;
  }

  .lead {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 800px) {
  #usaflag {
    top: 10px;
    left: -6%;
    border-radius: 50%;
    height: 100px;
    width: auto;
  }

  #ukflag {
    top: -90px;
    left: 6%;
    border-radius: 50%;
    height: 100px;
    width: auto;
  }

  .r1 {
    font-size: 2em;
    text-align: center;
  }

  .r2 {
    font-size: 5em;
    text-align: left;
  }

  #matricula {
    top: -300px;
    left: 60%;
    font-size: 2em;
  }

  .header-title {
    height: 410px;
  }

  #logop {
    top: -470px;
    left: 150px;
    width: 250px;
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  #matricula {
    top: -85px !important;
    left: 25% !important;
  }

  .fullscreen-bg {
    background-size: 750px !important;
    background-position-x: center;
  }

  .r2 {
    font-size: 5em;
    color: white;
    text-align: left !important;
  }

  .r1 {
    text-align: center;
  }

  .cabeza-2 {
    margin-left: 5%;
    font-size: 1.7rem;
  }

  .display-4 {
    padding-top: 55px;
    margin-left: 5%;
    color: #99A98C;
    font-size: 2.0rem;
  }

  .lead {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 0;
    color: #E0DECE;
    font-size: 1.2rem;
    padding-bottom: 1%;
  }

  .header-title {
    max-width: 100% !important;
  }

  /*Google Maps*/

  #map {
    height: 50vh;
    width: 100%;
  }

  .tiledBackground {
    width: 100%;
  }

  .dropdown-item:hover {
    background-color: rgba(224, 222, 206, 0.9) !important;
    color: rgba(0, 0, 0, 1) !important;
  }

  .drop_down_transp {
    background-color: rgba(224, 222, 206, 0.9) !important;
    text-shadow: 0em 0em 0.15em white;
    color: #262e42;
  }

  .navbar-light-ltcol {
    background-color: rgba(224, 222, 206, 0.9) !important;
    color: rgba(38, 46, 66, 1) !important;
  }

  .navbar-light-ltcol:hover {
    background-color: rgba(224, 222, 206, 0.9) !important;
    color: rgba(0, 0, 0, 1) !important;
  }

  iframe {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 550px) {
  #usaflag {
    top: 20px;
    left: -25px;
    border-radius: 50%;
    height: 70px;
    width: auto;
  }

  #ukflag {
    top: -50px;
    left: 25px;
    border-radius: 50%;
    height: 70px;
    width: auto;
  }

  #logop {
    top: -370px;
    left: 140px;
    width: 210px;
    height: auto;
  }

}

@media only screen and (max-width: 450px) {

  #usaflag {
    left: 55px;
    top: -78px;
    height: 40px;
    width: 40px;

  }

  #ukflag {
    top: -120px;
    left: 90px;
    height: 42px;
    width: 42px;
  }

  #matricula {
    top: -40px !important;
    left: 10% !important;
  }

  .r1,
  .r2 {
    text-align: center;
  }

  #logop {
    top: -90px;
    left: 0px;
    width: 220px;
    height: auto;
  }

  .header-title {
    height: 440px;
  }



  @keyframes matric {
    0% {
      transform: rotate(15deg);
      font-size: 2em;
      border-color: yellow;
    }

    25% {
      transform: border-color: red;
    }

    50% {
      transform: border-color: yellow;
    }

    75% {
      transform: border-color: red;
    }

    90% {
      transform: rotate(15deg);
      font-size: 2em;
    }

    92% {
      transform: rotate(10deg);
      font-size: 2.25em;
    }

    95% {
      transform: rotate(15deg);
      font-size: 2em;
    }

    97% {
      transform: rotate(10deg);
      font-size: 2.25em;
    }

    100% {
      transform: rotate(15deg);
      font-size: 2em;
    }
  }
}

/*navbar*/

header nav {
  transition: all .2s ease-in-out;
}

a.drop_down_transp.dropdown-item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1) !important;
}

.bg-dark {
  /*  background-color: #262E42 !important;*/
  background-color: black !important;
  border-bottom: 1px solid darkgrey;
  text-shadow: none !important;
}

.clearfix:after,
li:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown-menu,
.dropdown-item {
  background-color: #262E42;
  color: #E0DECE;
}

.drop_down_transp {
  background-color: transparent;
  text-shadow: 0em 0em 0.15em white;
  color: #262e42;
}

.navbar {
  background-color: transparent;
  text-shadow: 0em 0em 0.15em white;
}

.nav-link,
.navbar-brand {
  /*  color: #262e42;*/
  color: black;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-light-ltcol {
  /*  color: rgba(38, 46, 66, 1) !important;*/
  color: black !important;
}

.navbar-light-ltcol:hover {
  color: rgba(0, 0, 0, 1) !important;
}

/*Video*/

.fullscreen-bg {
  background-image: url('../images/JE-intro.jpg') !important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -100;
  background-color: black;
}

#youtubeIframe {
  text-align: center;
}

/*footer*/

footer p {
  text-align: right;
  color: #7996c6;
  font-style: italic;
  /*  color: #4473af;*/
  /*  background-color: #262E42;*/
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0%;
}

footer {
  top: -26px;
}